
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(#19142C, #221B25, #242019, #1A190F);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
  }

  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
  }
  
  .project_list {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .project_header {
    display:flex;
  }
  .project_detail{
    margin-left:5%;
    display:flex;
    flex-direction:column;
  }
  .project-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }

  .project-image.image-error {
    background-color: #fff;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  .project_card {
    min-width: 800px;
    background-color: #fff;
    border: 1px solid #2E6E4C;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px; /* Adds space between cards */
  }
  .project_links{
    background-color: transparent;
  border: none;
  padding: 0;
      display: inline-block;
      background-color: #2E6E4C; 
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 50px; 
      font-size: 16px; 
      margin-top:20px;
    }
    .project_links a {
      text-decoration: none; 
      color: #fff; 
      font-size: 16px; 
      font-weight: medium; 
      text-align: center;
      border: none;
    }  

  }
  
  
  